html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background-color: #F0EFEF;
  font-size: 1em;

}

h1 {
  font-size: 2rem;
}
* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}


/* colors  */
$lightblue: #1D15AD;
$darkblue: #00007C;
$purple: #6242E0;
$white1: #FFFBFB;
$white2: #F0EFEF;
$grey: #C4C4C4;
$yellow: #F2AE2E;
$tooltip: #4F4E4E;
$paleblue: #DBD6FF;