button {
  border: none;
}
.home-game_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.home-header_component {
  display: flex;
  border-bottom: 4px solid #fffbfb;
  border-top: 4px solid #fffbfb;
  background-color: #fffbfb;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.home-starter_h {
  font-family: "Space Mono";
  font-size: 1.7rem;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.25);
  color: #262626;
}

.home-question {
  font-family: "Roboto";
  display: flex;
  padding-top: 15px;
  font-weight: 400;
  font-size: 1.2rem;
  color: #262626;
}

.home-question span {
  color: #41b3a3;
  font-weight: 500;
   padding-left: 4px;
  font-size: 1.2rem;
  font-family: "Roboto";
  animation-name: change;
  animation-duration: 2s;
  transition-delay: 1s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  background-color: #fffbfb;
}
@keyframes change {
  from {
    color: #41b3a3;
  }
  to {
    color: #262626;
  }
}

.intro {
  font-size: 1.1rem;
  line-height: 25px;
  font-family: "Roboto";
  font-weight: normal;
  }

.intro .play-icon {
  color: #262626;
  font-weight: bold;
  font-family: "Space Mono";
  padding: 2px;
}

.home-answer_component {
  width: 250px;
  display: flex;
  color: #262626;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
  height: 250px;
  font-weight: bold;
  box-shadow: 0 4px 4px grey;
  border: 0.3px solid grey;
}

.home-next_component {
  padding-top: 15px;
}
.home-btn_next {
  background: #fc4445;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  width: 126px;
  height: 39px;
  font-size: 1.1rem;
  font-style: normal;
  cursor: pointer;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #262626;
}
:focus {
  outline: none;
}