@import"./global.scss";
img {
  width: 1.2em;
  justify-self: center;
}
.top-nav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: $darkblue ;
  width: 100%;
  }
li {
  list-style-type: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
 margin: 0;
}

