button {
  border: none;
}
.flag {
  width: 150px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main_wrapper {
  height: 95vh;
  margin: 0;
  width: 100%;
}
.game_wrapper {
  align-items: center;
  align-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.header_component {
  background-color: #fffbfb;
  border-bottom: 9px solid #fffbfb;
  border-top: 9px solid #fffbfb;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.starter_h {
  font-family: "Space Mono";
  font-size: 1.6em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-shadow: rgba(0, 0, 0, 0.25);
  color: #262626;
}

.question_component {
  justify-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  background-color: #fffbfb;
}

.question {
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
}
.answer_component {
  display: flex;
  align-content: center;
  align-self: center;
  width: 250px;
  align-items: center;
  padding-bottom: 15px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 4px grey;
  border: 0.3px solid grey;
}

.btn_answer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  background-color: white;
  font-family: "Roboto";
  text-decoration: none;
  border: 0.3px solid #f2ae2e;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #262626;
  transition-duration: 0.5s;
  cursor: pointer;
}
:focus {
  outline: none;
}
.btn_answer:hover {
  background-color: #37eee6;
  color: #262626;
  border: none;
  box-shadow: 2px 10px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.next_component {
  margin-top: 15px;
  justify-content: center;
  display: flex;
  padding-bottom: 40px;
}
.btn_next {
  background: #f2ae2e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  width: 126px;
  height: 39px;
  font-size: 1.1em;
  font-weight: bold;

  font-family: "Roboto";
  text-decoration: none;
  color: #262626;
  border: none;
  cursor: pointer;
}
:focus {
  outline: none;
}

.flash {
  color: #262626;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.1rem;
  align-content: center;
  align-self: center;
  text-align: center;
  align-items: center;
}

.next--component_wrapper {
  display: flex;
  justify-content: center;
  background-color: #fffbfb;
  padding-bottom: 40px;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score {
  font-family: "Roboto";
  font-size: 1rem;
  align-self: center;
  text-align: center;
  color: #262626;
}

.score span {
  font-family: "Roboto";
  color: #262626;
  transition-delay: 2s;
  animation-name: score;
  animation-duration: 4s;
  animation-direction: reverse;
}
@keyframes score {
  from {
    color: #262626;
  }
  to {
    color: white;
  }
}
